<!DOCTYPE html>
<html lang="tr">
<head>
        <meta charset="UTF-8">
        <title>SSD • TodoMVC & Angular 1.x</title>
        <link rel="stylesheet" href="vendor/css/base.css">
        <link rel="stylesheet" href="vendor/css/index.css">
</head>
<body ng-app="todoApp" ng-controller="controller as _ctrl">
        <section class="todoapp">
                <header class="header">
                        <h1>todo</h1>
                        <form ng-submit="add();">
                                <input class="new-todo" placeholder="Ne yapcan?" ng-model="_ctrl.subject" name="subject" autofocus>
                        </form>
                </header>
                <section class="main">
                        <input id="toggleAll" class="toggle-all" type="checkbox" ng-model="_ctrl.toggleAll" ng-change="_ctrl.checking()">
                        <label for="toggle-all">Hepsi Yapıldı</label>
                        <ul class="todo-list">
                                <li ng-repeat="todo in _ctrl.todos track by $index" ng-class="{completed: todo.status, editing: edit}" ng-hide="todo.status == true && path == 'active' || todo.status == false && path == 'completed'">
                                        <div class="view">
                                                <input type="checkbox" class="toggle" ng-model="todo.status" ng-change="_ctrl.update()">
                                                <label ng-dblclick="edit = true" ng-init="edit = false">{{todo.subject}}</label>
                                                <button class="destroy" ng-click="_ctrl.removeOne($index)"></button>
                                        </div>
                                        <form ng-if="edit" ng-submit="$parent.edit = false; _ctrl.update()">
                                                <input type="text" id="edit" class="edit" ng-blur="$parent.edit = false;" ng-model="todo.subject" ng-init="oldSubject = todo.subject" escape="$parent.edit = false; todo.subject = oldSubject" focus>
                                        </form>
                                </li>
                        </ul>
                </section>
                <footer class="footer" ng-hide="todos == 0">
                        <span class="todo-count" ng-if="_ctrl.countStatus() > 0">{{_ctrl.countStatus()}} Yapılacak</span>
                        <span class="todo-count" ng-if="_ctrl.countStatus() == 0">Hepsi Tamam</span>
                        <ul class="filters">
                                <li>
                                        <a href="#/" ng-click="path = ''" ng-class="{selected: !path}">Tümü</a>
                                </li>
                                <li>
                                        <a href="#/active" ng-click="path = 'active'" ng-class="{selected: path == 'active'}">Aktif</a>
                                </li>
                                <li>
                                        <a href="#/completed" ng-click="path = 'completed'" ng-class="{selected: path == 'completed'}">Bitmiş</a>
                                </li>
                        </ul>
                        <button class="clear-completed" ng-if="_ctrl.countStatus() != todos.length" ng-click="_ctrl.removeDoneTodos()">Bitenleri Sil</button>
                </footer>
        </section>
        <footer class="info">
                <p>Düzenlemek istediğinize çift tıklayın</p>
                <p>Geliştiren: <a href="http://github.com/ssd90">Salih S. Demir</a></p>
                <p><a href="http://todomvc.com">TodoMVC</a></p>
        </footer>
        <script src="vendor/js/angular.min.js"></script>
        <script src="js/app.js"></script>
</body>
</html>
